<%- include('includes/head', {title: 'Error! - 404'}) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1 class="heading">Page not found!</h1>
        <div class="err-msg">
            <p>The page your looking for doesn't exist</p>
            <button class="btn"><a href="/">Back to safety!</a></button>
        </div>
    </main>
<%- include('./includes/footer') %>