<%- include('includes/head', {title: 'Error! - 500'}) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1 class="heading">Something went wrong!</h1>
        <div class="err-msg">
            <p>Unfortunately, an error as occured - please try again...</p>
            <button class="btn"><a href="/">Back to safety!</a></button>
        </div>
    </main>
<%- include('./includes/footer') %>