<%- include('../../shared/includes/head', {title: "Orders"}) %>
<link rel="stylesheet" href="/styles/product.css">
<link rel="stylesheet" href="/styles/order.css">
<script src="/js/order-mgmt.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1 class="heading">Payment done :)</h1>
        <p class="heading order-summary">Thank you for shopping with us.</p>
    </main>
<%- include('../../shared/includes/footer') %>