<%- include('../../shared/includes/head', {title: 'Home'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
       <h1 class="heading">All Products</h1>
       <p class="content-para">Fetching products list...</p>
    </main>
<%- include('../../shared/includes/footer') %>