#add-prdt-section {
    text-align: center;
    width: 75%;
    margin: 4rem auto;

}

.heading {
    font-size: 3rem;
    margin: 2rem auto;
}

#add-prdt-section>p>.btn {
    padding: 0.75rem;
    width: 92px;
    margin-block: 1rem;
}

#products-menu>ul {
    width: 80%;
    margin-inline: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}


#product-img {
    text-align: center;
    width: 20rem;
    border-radius: 0.75rem;
    height: 17.5rem;
    margin-block: 1.25rem 0.5rem;
}


.product-card {
    position: relative;
    border: 1.25px solid var(--lightprimary-color);
    border-radius: 1.25rem;
    text-align: center;
    padding: 1rem;
    height: 90%;
}

.product-card>h2 {
    text-wrap: wrap;
    color: var(--white-color);
    margin-bottom: 12px;
}

.control-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    height: calc(100% - 23.5rem)
}

.product-price {
    position: absolute;
    color: var(--lightprimary-color);
    text-shadow: 0.25px 0.5px 0.36px rgb(46, 46, 46);
    top: 7rem;
    left: 16rem;
}

.product-highlights {
    color: var(--white-color);
    padding: 0.5rem;
}






.control-link {
    padding: 0.5rem;
    align-self: center;
    border-radius: 2.5rem;
    width: 10rem;
    border: 2px solid var(--lightprimary-color);
}

.control-link>a {
    color: var(--lightprimary-color);
}

.control-link:hover {
    cursor: pointer;
    border: 2px solid var(--primary-color);
}

.control-link>a:hover {
    color: var(--primary-color);
}

.btn-red {
    width: 6rem;
    padding: 6px;
    background-color: var(--highlight-error);
}

.btn-red:hover {
    filter: brightness(0.75);
    border: 1px solid var(--grey-color);
}


#img-upload-ctrl {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-upload-ctrl input {
    max-width: 20rem;
}

#img-upload-ctrl img {
    margin-top: 0.8rem;
    display: none;
    width: 4rem;
    height: auto;
    border-radius: 6px;
    object-fit: contain;
}


@media (max-width: 1290px) {
    #products-menu>ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 912px) {
    #products-menu>ul {
        width: 70%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }

    #product-img {
        width: 17.5rem;
        height: 16rem;
    }

}

@media (max-width: 533px) {
    #products-menu>ul {
        grid-template-columns: none;
        grid-template-rows: repeat(1, 1fr);
    }
}