<%- include('../../shared/includes/head', {title: 'All Products'}) %>
<link rel="stylesheet" href="/styles/admin.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1 class="heading">Product Administration (Admin Page)</h1>
        <section id="add-prdt-section">
            <h2 class="sub-heading">Manage Products</h2>
            <p><a class="btn" href="/admin/products/new">Add Product</a></p>
        </section>
        <section id="products-menu">
            <ul>
                <% for (const product of products) { %>
                <li>
                    <%- include('../includes/product-item', { product: product })%>
                </li>
                <% } %>
            </ul>
        </section>
        

       
    </main>
<%- include('../../shared/includes/footer') %>