<%- include('../../shared/includes/head', {title: 'All Products'}) %>
<link rel="stylesheet" href="/styles/admin.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1 class="heading">Add a new product</h1>
       <%- include('includes/product-form', {submitPath: "/admin/products/", imageReq: true, product: {
        title: "",
        summary: "",
        price: "",
        description: ""
       }}) %>
        

       
    </main>
<%- include('../../shared/includes/footer') %>