<%- include('../../shared/includes/head', {title: 'All Products'}) %>
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/product.css">
<script src="/js/image-preview.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1 class="heading">Update product</h1>
       <%- include('includes/product-form', {submitPath: "/admin/products/" + product.id, imageReq: false,  product: product}) %>
    </main>
<%- include('../../shared/includes/footer') %>