<header>
    <div class="logo"><a href="/home">Acade<span>Store</span></a></div>
    <nav>
        <ul>
            <li><a href="">SignUp</a></li>
            <li><a href="">Login</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </nav>

</header>